* {
  margin: 0px;
  padding: 0;
}

header {
  width: 100%;
  height: 100%;
}

.base__container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header__container {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header__base {
  width: 100%;
  height: 60px;
  opacity: 0.5;
  background-color: #099d8d;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header__base a {
  text-decoration: none;
  color: #fff;
}

.rectangle {
  width: 100%;
  height: 45px;
  opacity: 0.9;
  background-color: #14d9c4;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.header__base,
.rectangle {
  opacity: 0.8;
}

.lista {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link_header {
  text-decoration: none;
  color: #ffffff;
}

.header__hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__image {
  width: 100%;
  height: 100vh;
  background-image: url("../images/codefiction.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.group__name {
  height: 80px;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10vh;
  font-family: "Open Sans", "semibold", sans-serif;
  font-size: 18px;
  color: black;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.equipo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section-equipo {
  width: 80%;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  color: #14d9c4;
  text-align: center;
  margin: 0 auto;
}

.equipo-p {
  opacity: 0.67;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #54585a;
}

.rectangle-equipo {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  position: relative;
  bottom: -15px;
  left: 50%;
}

.section-fortaleza {
  /*width: 100%;
  height: 100%;*/
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #b8b8b933;
  color: #54585a;
  box-sizing: border-box;
}

.header-forta {
  font-size: 22px;
  color: #099d8d;
  text-align: center;
  margin: 30px 15px 0px 15px;
  line-height: 45px;
  font-family: "Rubik", sans-serif;
}

.div-forta {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.div-forta1 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0px 0px 45px 0px;
}

.adalabers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.quienes {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #099d8d;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}

.profile {
  margin: 0 0 20px 0;
}

.profile img {
  height: 180px;
  width: 180px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 5px rgb(190, 181, 181) solid;
  border-radius: 4px;
}

.profile h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}

.profile-description {
  text-align: center;
  color: #54585a;
}

.profile p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #54585a;
  padding: 0 25px;
}

.redes ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #099d8d;
  display: flex;
  justify-content: space-around;
  width: 124px;
}

i {
  color: #099d8d;
}

.redes {
  display: flex;
  justify-content: center;
}

/* FOOTER */
.footer__box {
  height: 100%;
  width: 100%;
  background-color: white;
  border-top: 1px #b8b8b9;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  border-top: 1px solid #b8b8b9;
  position: relative;
}

.footer__item__equipo,
.footer__item__quienes,
.footer__item__contacto {
  font-size: 14px;
  line-height: 1.43;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #b8b8b9;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer__text {
  text-decoration: none;
}

.footer__logo {
  width: 115.9px;
  height: 42px;
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #b8b8b9;
  margin-top: 30px;
  text-decoration: none;
}

.footer__list {
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.43;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: #54585a;
}

.imagen__logo {
  display: inline-block;
  width: 115.9px;
  height: 42px;
  margin: 20px;
  margin-bottom: 45px;
}

@media all and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background: #099d8d;
    width: 100%;
  }

  .header__base {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 45px;
  }

  .hero__image {
    padding-top: 100px;
  }

  .rectangle {
    background: #099d8d;
    height: 100%;
    margin-right: 30px;
  }

  .lista {
    display: flex;
    align-items: center;
  }

  .lista li {
    margin-left: 19px;
  }

  .section-fortaleza {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .fortadebi {
    flex-basis: 30%;
  }

  .profile {
    display: flex;
  }

  .profile:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .profile:nth-child(odd) h3,
  .profile:nth-child(odd) p {
    text-align: right;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 20px;
  }

  .profile:nth-child(odd) .redes {
    justify-content: flex-end;
    margin-right: 20px;
  }

  .profile h3,
  .profile p {
    text-align: left;
    padding-left: 0;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .redes {
    justify-content: flex-start;
    margin-left: 20px;
  }

  h2.quienes {
    margin: 30px;
  }
  .footer__box {
    display: flex;
    flex-direction: row;
  }
  .footer__list {
    position: absolute;
    top: 24px;
    right: 45px;
    line-height: 30px;
    align-items: flex-end;
  }
  .footer__text {
    display: flex;
    justify-content: left;
    position: relative;
    left: 45px;
  }
  .imagen__logo {
    display: inline;
    position: absolute;
    top: 65px;
    left: 45px;
    margin: 0;
    margin-bottom: 60px;
  }
}
