@import "core/_variables";
@import "core/_adalabers";
@import "core/_mediaqueris";
@import "core/_reset";
@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "core/_strengths";

.main {
  display: flex;
  flex-direction: column;
}

.equipo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section-equipo {
  width: 80%;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  color: #14d9c4;
  text-align: center;
  margin: 0 auto;
}

.equipo-p {
  opacity: 0.67;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #54585a;
}

.rectangle-equipo {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  position: relative;
  bottom: -15px;
  left: 50%;
}

@media all and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background: #099d8d;
    width: 100%;
  }

  .header__base {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 45px;
  }

  .hero__image {
    padding-top: 100px;
  }

  .rectangle {
    background: #099d8d;
    height: 100%;
    margin-right: 30px;
  }

  .lista {
    display: flex;
    align-items: center;
  }

  .lista li {
    margin-left: 19px;
  }

  .section-fortaleza {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .fortadebi {
    flex-basis: 30%;
  }
}
