<section class="adalabers__profile">
  <img src="@@img" alt="@@name" />
  <div class="adalabers__profile__description">
    <h3>@@name</h3>
    <p class="profile-description">@@desc</p>
    <ul class="redes">
      <li>
        <a href="@@link-twitter" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="@@link-linkedin" target="_blank" title="Linkedin"> <i class="fab fa-linkedin-in"></i></a>
      </li>
      <li>
        <a href="@@link-github" target="_blank" title="Github"> <i class="fab fa-github-alt"></i></a>
      </li>
      <li>
        <a href="mailto@@link-email" target="_blank" title="Email"> <i class="fas fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</section>
