<footer class="footer__box">
    <div class="footer__group">
<a href="#top" class="footer__text" title="Back to the top">
        <h5>Code-fiction © 2020</h5>
         <img class="logo__team
          " src="./assets/images/logo__cf.png" alt=""/>

    </a>
</div>
    <nav>
        <ul class="footer__list">
            <li class="lista__equipo"><a class="footer__item__equipo" href="index.html#enlace-a-equipo">Equipo</a></li>
            <li class="lista__equipo"><a class="footer__item__quienes" href="index.html#link-to-team">Quiénes somos</a></li>
            <li class="lista__equipo"><a class="footer__item__contacto" href="contact.html">Contacto</a></li>
        </ul>
    </nav>
    <a href="https://adalab.es/" target="_black"> <img class="footer__image" src="./assets/images/imagen__logo.png" alt="Adalab" />
</footer>
