
  
    <main class="contact__page__container">
    <div class=" div__form">
    <div class="introduction__container">
        <h2 class="contact"> Contacto</h2>
        <p> Para cualquier duda, sugerencia, o contacto con nosotras puedes rellenar el siguiente formulario.</p>
        <p class="obligatory"> Todos los campos marcados con * son obligatorios.</p>
    </div>
    <form class="form" action="">
            <label for="Nombre">Nombre completo *</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre..." required>
            
            <label for="Email">Email *</label>
            <input type="email" name="email" id="" placeholder="nombre.apellidos@mail.com" class="email" required>
            <label for="Telefono">Teléfono</label>
            <input type="tel" name="telefono" id="telefono" placeholder="Ej: 123456789">
            <label for="Mensaje">Mensaje *</label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="¿Qué necesitas?" required></textarea>

            <input class="submit" type="submit" value="enviar">
    </form>
    </div>
    </main>
    <footer class="footer__box">
        <div class="footer__group">
            <a href="#top" class="footer__text" title="Back to the top">
                <h5>Code-fiction © 2020</h5>
            </a>
        </div>
        <nav>
            <ul class="footer__list">
                <li><a class="footer__item__equipo" href="#enlace-a-equipo">EQUIPO</a></li>
                <li><a class="footer__item__quienes" href="#enlace-a-quienes-somos">QUIÉNES SOMOS</a></li>
                <li><a class="footer__item__contacto" href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <a href="https://adalab.es/" target="_black"> <img class="imagen__logo" src="./assets/images/imagen__logo.png"
                alt="Adalab" />
    </footer>

</body>

</html>