<div class="header__container">
  <div class="header__container__base">
    <a href="index.html#link-to-slogan">Code fiction</a>
  </div>
  <div class="header__container__rectangle">
    <ul class="header__list">
      <li>
        <a class="header__list--link" href="index.html#enlace-a-equipo">Equipo</a>
      </li>
      <li>
        <a class="header__list--link" href="index.html#link-to-team">Quienes somos</a>
      </li>
      <li>
        <a class="header__list--link" href="contact.html">Contacto</a>
      </li>
    </ul>
  </div>
</div>
