<section class="strengths__section">
  <div class="fortadebi ">
    <p class="strengths__header forta">Fortalezas</p>
    <p class="strengths__p">
      Resiliencia, tenacidad, y responsabilidad son algunas de las características de este grupo compacto, que junto a una gran inteligencia emocional, tanto en conjunto como individual,permiten ejecutar un trabajo en equipo eficaz y divertido porque el humor nunca falta.
    </p>
  </div>
  <div class="fortadebi">
    <p id="enlace-a-quienes-somos" class="strengths__header debi">
      Debilidades
    </p>
    <p class="strengths__p  strengths__margin" id="link-to-team">
      La única debilidad del grupo son la perfección en el trabajo diario, y las ganas de poner en marcha tecnología digital al servicio de los usuarios que la necesiten, algo que esperamos convertir en una de nuestras fortalezas.
    </p>
  </div>
</section>
