<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/main.css">
  <title>My document
  </title>
</head>

<body>
  <div>
    <header>
      <partial src="_header.html"></partial>
      <div class="header__hero">
        <div id="top" class="hero__image"></div>
        <div class="slogan-container">
          <h3 id="enlace-a-equipo" class="slogan-title" id="link-to-slogan">No hay código imposible</h3>
        </div>
      </div>
    </header>
    <main>
      <div class="group-container">
        <section class="section-equipo">
          <h2 class="equipo-section-title">EQUIPO</h2>
          <p class="equipo-p"> Codefiction, un grupo de chicas que aunque no lo sabían, han nacido para
            codificar. El humor y el esfuerzo es su sello de identidad. Dispuestas a esforzarse lo que sea
            necesario por sacar un código adelante.
          </p>
          <div class="rectangle-equipo"></div>
        </section>
      </div>
      <partial src="_strengths.html"></partial>
      <section class="group-container section-fortaleza">
        
       
      </section>

  </div class="equipo__container">
  
  <section class="adalabers__container">
    <h2 class="quienes" >Quienes somos</h2>
    <partial src="_adalabers.html" name="Maria José" img="./assets/images/mj.jpeg" desc="Aunque licenciada en Filología Hispánica, mi pasión por seguir aprendiendo me ha llevado hasta el sector de la tecnología. Ahora en Adalab, dispuesta a dar un cambio a mi vida y meterme de lleno en el mundo de la programación." link-twitter="https://twitter.com/mj0se" link-linkedin="https://www.linkedin.com/in/mar%C3%ADa-jos%C3%A9-p%C3%A9rez-maeso-69363a135/" link-github="https://github.com/mj0se" link-email="mailto:mariajose1907@gmail.com"></partial>    
    <partial src="_adalabers.html" name="Gloria" img="./assets/images/Gloria-copia.png" desc="Licenciada en Filología hispánica, apasionada por analizar en el lenguaje, cómo cambia y cómo lo usamos para comunicarnos. Durante los últimos años he desarrollado habilidades que me han permitido ser más polivalente, ganando experiencia en el sector digital. Mi camino en Adalab ha supuesto un punto de inflexión clave que abrirá paso a un gran futuro en el mundo de la programación" link-twitter="#" link-linkedin="https://www.linkedin.com/in/gloria-s%C3%A1nchez-767b72b6/" link-github="https://github.com/SanchezGloria" link-email="mailto:gloriasancheztrillo@gmail.com"></partial>
    <partial src="_adalabers.html" name="Marta" img="./assets/images/marta.jpeg" desc="Amante del mundo del diseño y la tecnología, estudió Diseño Integral y Gestión de la Imagen en la Universidad Rey Juan Carlos de Madrid. Tras trabajar como diseñadora de aplicaciones se comenzó a interesar por la programación. Encontró Adalab a través de una amiga y pensó que esta era una nueva forma de reinventarse y ampliar conocimientos. ¡Con ganas de afrontar proyectos de cualquier índole, esperando siempre aprender y disfrutar en el procesos!" link-twitter="https://twitter.com/Marta_Fuckyeah" link-linkedin="https://www.linkedin.com/in/marta-montoro-pastor-098878171/" link-github="https://github.com/Martamp" link-email="mailto:martamontoropastor@gmail.com"></partial>
    <partial src="_adalabers.html" name="Belén" img="./assets/images/belen.jpeg" desc="Mi pasión por la tecnología, dinamismo y curiosidad me llevaron hasta la programación y hasta Adalab. Mi motiviación es crear y disponer la tecnología al servicio de las personas. El trabajo en equipo, la adaptabilidad y la tenacidad mis herramientas."link-twitter="#" link-linkedin="https://www.linkedin.com/in/belén-catalán-almendros-2020a05b" link-github="https://github.com/BelenCatalan" link-email="mailto:labdelante@gmail.com" ></partial>
    <partial src="_adalabers.html" name="Cristina Pontíjas" img="./assets/images/cris.jpeg" desc="Graduada en Bellas Artes por la Universidad Complutense de Madrid. Tras trabajar en el estudio de Daniel Canogar, reconocido artista de data-art, decide enfocar su carrera profesional profundizando en el diseño y maquetación de páginas web de la mano de Adalab. Su extenso bagaje artístico y sus incansables ganas de aprender, conceden a sus códigos una perspectiva singular." link-twitter="#" link-linkedin=https://www.linkedin.com/in/cristina-pontijas-b7136a101 link-github="https://github.com/Cristinapontijas" link-email="mailto:cristinapontijas@gmail.com"></partial>
    </section>
  
    <partial src="_footer.html"></partial>

</body>

</html>
