@media (min-width: 768px) {


  .adalabers__container {
    display: flex;
    flex-direction: column;
    margin: 0px 45px;

  }


  .adalabers__profile {
    display: flex;

    p,
    h3 {
      text-align: left;
      padding-bottom: 5px;
    }

    .redes {

      justify-content: flex-start;
    }

    img {

      width: 278px;
      height: 200px;
    }

  }

  .adalabers__profile:nth-child(odd) {
    flex-direction: row-reverse;

    h3,
    p,
    li {
      text-align: right;
      padding-right: 0;
      padding-top: 10px;
      margin-right: 0px;
    }

    .redes {

      justify-content: flex-end;
    }

    .redes i {

      margin-right: 20px;
    }
  }


  @media (min-width: 1000px) {


    .adalabers__container {

      margin: 0px 55px;

    }
  }
