@media (min-width: 768px) {


    .adalabers {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        h3,
        p {

            text-align: left;
            padding-left: 0;
            margin-left: 20px;
            padding-top: 10px;
            padding-bottom: 15px;
        }
    }




    .adalabers__profile:nth-child(odd) h3,
    .adalabers__profile:nth-child(odd) p {
        text-align: right;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-right: 20px;
    }

    .adalabers__profile:nth-child(odd) .redes {
        justify-content: flex-end;
        margin-right: 20px;
    }



    .redes {
        justify-content: flex-start;
        margin-left: 20px;
    }


}