.quienes {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: $blue;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
  text-transform: uppercase;
}

.adalabers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.adalabers__profile {
  margin: 0 0 20px 0;

  &__img {
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 5px rgb(190, 181, 181) solid;
    border-radius: 4px;
    filter: grayscale(100%);
    transition: all 0.3s;

    &:hover {
      filter: grayscale(0%);
      transform: scale(1.1);
    }

  }

  &__name {
    font-family: $fontfamilyprofile;
    font-size: 20px;
    text-align: center;
  }

  &__description__bio {
    font-family: $fontfamilyprofile;
    font-size: 16px;
    color: $grey;
  }

  &__description {
    text-align: center;
    color: $grey;
  }
}

.adalabers__profile__description {
  padding: 0 25px;
  margin: 15px 0;
  text-align: center;
}

li {
  margin: 15px;
  color: $blue;
}

.redes {
  display: flex;
  justify-content: center;
}

.redes {
  i {
    color: $blue;
  }
}


.icon__twitter {
  list-style: none;
}
